:root {
  --primary: #102027;
  --accent: #ff4940;
  --text: #8d8d8d;
  --bold: #263238;
}

html {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  background-color: #f8f8f8;
  color: var(--text);
  font-family: Heebo, Helvetica, sans-serif;
  font-size: 15px;
  line-height: 1.8;
}

/** Transitions **/
[data-router-wrapper] {
  position: relative;
  width: 100%;
}

[data-transition-in="overlap"] {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

/** Typography **/
b,
strong {
  color: var(--bold);
}

i,
em {
  font-style: italic;
}

a {
  color: var(--accent);
  text-decoration: none;
  transition: color .3s ease-out, border .3s ease-out;
}

a:hover,
a:focus {
  color: var(--primary);
  border-color: var(--primary);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-bottom: 10px;
  color: var(--bold);
  font-family: Gilroy, sans-serif;
  font-weight: 500;
}

h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a {
  text-decoration: none !important;
}

h1 {
  font-family: GTSectra, serif;
  font-size: 36px;
}

h2 {
  font-size: 22px;
}

h2 a {
  color: var(--bold);
}

h2 a:hover,
h2 a:focus {
  color: var(--accent);
}

h3,
h4,
h5,
h6 {
  color: var(--accent);
  font-size: 18px;
}

/** Structure **/
.site-container {
  display: flex;
  flex-wrap: wrap;
  margin-right: auto;
  margin-left: auto;
}

.site-header {
  width: 250px;
  min-height: 100vh;
  background-color: var(--primary);
}

.site-content-wrapper {
  width: calc(100% - 250px);
}

/** Header - Logo **/
.site-header-buttons {
  position: absolute;
  top: 47px;
  left: 280px;
}

.site-logo {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 40px;
  color: var(--accent);
  font-size: 11px;
}

.site-logo:hover,
.site-logo:focus {
  color: var(--accent);
}

.site-logo img {
  display: block;
  width: 121px;
  height: 44px;
}

/** Header - Menu **/
.site-menu .menu-item--slack {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 250px;
}

.site-menu .menu-item--slack a {
  display: block;
  width: 100%;
  padding: 19px 25px 13px 65px;
  background-color: var(--accent);
  text-align: center;
  transition: color .3s ease-in-out, background-color .3s ease-in-out;
}

.site-menu .menu-item--slack a::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 15px;
  width: 30px;
  height: 30px;
  margin-top: 1px;
  border-radius: 50%;
  background-color: #fff;
  background-image: url('../images/slack.png');
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: 20px auto;
  transform: translateY(-50%);
  transition: background-color .3s ease-in-out;
}

.site-menu .menu-item--slack a:hover,
.site-menu .menu-item--slack a:focus {
  background-color: #fff;
}

.site-menu .menu-item--slack a:hover::before,
.site-menu .menu-item--slack a:focus::before {
  background-color: #f0f0f0;
}

.site-menu .menu-item:last-child a {
  border-bottom: none;
}

.site-menu .menu-parent > a::after {
  content: '';
  display: inline-block;
  margin-left: 10px;
  border-top: 4px solid var(--bold);
  border-right: 4px solid transparent;
  border-left: 4px solid transparent;
  vertical-align: middle;
}

.site-menu .menu-parent:hover .menu-child {
  display: block;
}

.site-menu .menu-child {
  display: none;
  border-bottom: 1px solid rgb(219, 223, 244);
}

.site-menu .menu-child a {
  padding-left: 20px;
}

.site-menu a {
  display: block;
  padding-top: 5px;
  padding-bottom: 5px;
  color: #fff;
  font-weight: 700;
}

.site-menu a:hover,
.site-menu a.is-active {
  color: var(--accent);
}

/** Footer **/
.site-footer {
  padding: 40px 0 20px;
  font-size: 13px;
  text-align: center;
}

.site-footer-buttons {
  margin-bottom: 15px;
}

/** Content **/
.site-content {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  min-height: 100vh;
  padding-top: 120px;
}

.site-content-inner {
  flex-grow: 1;
  max-width: 800px;
  padding-left: 80px;
}

.site-content-inner p + * {
  margin-top: 20px;
}

.site-content-inner p + h1,
.site-content-inner p + h2,
.site-content-inner p + h3,
.site-content-inner p + h4,
.site-content-inner p + h5,
.site-content-inner p + h6 {
  margin-top: 30px;
}

.site-content-inner p + ul,
.site-content-inner p + ol,
.site-content-inner p + pre,
.site-content-inner p + table,
.site-content-inner p + img,
.site-content-inner p + form {
  margin-top: 30px;
}

.site-content-inner ul + *,
.site-content-inner ol + * {
  margin-top: 35px;
}

.site-content-inner ul li,
.site-content-inner ol li {
  position: relative;
  padding-left: 20px;
}

.site-content-inner ul li + li,
.site-content-inner ol li + li {
  margin-top: 0px;
}

.site-content-inner ul li::before {
  content: '';
  position: absolute;
  top: 14px;
  left: 0;
  width: 4px;
  height: 4px;
  border-radius: 50%;
  background-color: var(--accent);
}

.site-content-inner ol {
  counter-reset: count;
}

.site-content-inner ol li {
  counter-increment: count;
}

.site-content-inner ol li::before {
  content: counter(count) '.';
  position: absolute;
  top: 0;
  left: 0;
  color: var(--accent);
}

.site-content-inner pre {
  font-size: 0;
}

.site-content-inner pre + * {
  margin-top: 35px;
}

.site-content-inner table {
  position: relative;
  z-index: 0;
  width: 960px;
  text-align: left;
}

.site-content-inner .table-wrapper + * {
  margin-top: 35px;
}

.site-content-inner table::after {
  content: '';
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 5px;
  border: 1px solid rgb(219, 223, 244);
  background-color: #f8f8f8;
}

.site-content-inner th,
.site-content-inner td {
  padding: 15px 20px;
}

.site-content-inner th {
  color: var(--bold);
}

.site-content-inner th + th,
.site-content-inner td + td {
  border-left: 1px solid rgb(219, 223, 244);
}

.site-content-inner tr + tr {
  border-top: 1px solid rgb(219, 223, 244);
}

.site-content-inner img {
  display: block;
  width: 100%;
}

.site-content-inner img + * {
  margin-top: 35px;
}

.site-content-inner hr {
  margin-top: 35px;
  margin-bottom: 35px;
  border: 0 none;
  height: 1px;
  background-color: rgb(219, 223, 244);
}

.site-content-inner button,
.site-content-inner .button {
  display: inline-block;
  min-width: 130px;
  outline: none;
  transition: color .3s ease-in-out, background .3s ease-in-out;
  border: 1px solid var(--accent);
  padding: 15px;
  background-color: var(--accent);
  color: #fff;
  font-size: 13px;
  font-weight: 700;
  text-align: center;
  line-height: 1;
  text-decoration: none;
  cursor: pointer;
}

.site-content-inner button:hover,
.site-content-inner button:focus,
.site-content-inner .button:hover,
.site-content-inner .button:focus {
  background-color: #fff;
  color: var(--accent);
}

.site-content-inner form {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.site-content-inner form > * {
  width: calc(33.333% - 15px);
}

.site-content-inner form + * {
  margin-top: 40px;
}

.site-content-inner input {
  display: block;
  outline: none;
  border: 1px solid rgb(219, 223, 244);
  padding: 15px;
  color: var(--bold);
  font-size: 13px;
}

.site-content-inner a {
  text-decoration: underline;
  text-decoration-skip: ink;
}

/** Bottom **/
.site-bottom {
  margin-top: 80px;
}

.site-bottom a {
  display: block;
  padding-top: 30px;
  padding-bottom: 30px;
  border-top: 1px solid rgb(219, 223, 244);
  border-bottom: 1px solid rgb(219, 223, 244);
  color: var(--bold);
  font-family: GTSectra, serif;
  font-size: 36px;
  text-align: center;
}

.site-bottom a:hover,
.site-bottom a:focus {
  color: var(--accent);
}

.site-bottom a::before {
  content: 'Next';
  display: block;
  color: #888;
  font-family: Gilroy, sans-serif;
  font-size: 12px;
  font-weight: 700;
  letter-spacing: 1.5px;
  text-transform: uppercase;
  opacity: 0.5;
}

/** Demos **/
.demos-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -10px;
}

.demos-list li {
  width: 50%;
  margin: 0 0 20px;
  padding: 0 10px !important;
}

.demos-list li::before {
  content: none !important;
}

/** Browsers **/
.browsers li {
  padding-left: 0 !important; 
}

.browsers li::before {
  content: none !important;
}

/** Contributors **/
.contributors {
  display: flex;
  flex-wrap: wrap;
  margin: 20px -5px 0;
}

.contributors li {
  width: 100px;
  margin: 0 0 20px;
  padding: 0 5px !important;
  color: var(--primary);
  font-family: Gilroy, sans-serif;
  font-weight: 700;
  line-height: 1;
  text-align: center;
}

.contributors li::before {
  content: none !important;
}

.contributors li img {
  display: block;
  width: 100%;
  height: auto;
  margin: 0 auto 15px;
  border-radius: 50%;
}

.contributors li a {
  color: var(--primary);
  text-decoration: none;
}

.contributors li a:hover,
.contributors li a:focus {
  color: var(--accent);
}

/** Utilities **/
.u-center {
  text-align: center;
}

/** Highlight **/
code, .hljs {
  padding: 20px;
  border-radius: 5px;
  border: 1px solid rgb(219, 223, 244);
  background-color: #f2f2f2;
  color: var(--bold);
  font-family: FiraCode, sans-serif;
  font-size: 12px;
  line-height: 20px;
}

code {
  padding: 3px 4px;
  border-radius: 3px;
  font-size: 12px;
  line-height: 1;
}

/** Responsive **/
@media only screen and (min-width: 960px) {
  .site-header-inner {
    position: fixed;
    top: 40px;
    left: 40px;
    width: 160px;
    /* transform: translateX(-480px); */
  }

  .burger-menu {
    display: none;
  }
}

@media only screen and (max-width: 959px) {
  .site-header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 70px;
    padding-right: 0;
    padding-top: 13px;
    min-height: auto;
    background-color: white;
    border-bottom: 1px solid rgb(219, 223, 244);
    z-index: 200;
  }

  .burger-menu {
    position: absolute;
    top: 0;
    right: 0;
    height: 70px;
    width: 70px;
    padding: 0;
    outline: none;
    cursor: pointer;
    border: 0;
    background: transparent;
  }

  .burger-menu-lines {
    position: relative;
    top: -3px;
    height: 2px;
    width: 20px;
    background-color: var(--primary);
    display: inline-block;
  }

  .burger-menu-lines::before,
  .burger-menu-lines::after {
    content: '';
    height: 2px;
    width: 20px;
    position: absolute;
    left: 0;
    background-color: var(--primary);
  }

  .burger-menu-lines::before {
    top: -7px;
  }

  .burger-menu-lines::after {
    bottom: -7px;
  }

  .site-menu {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    padding: 20px 30px;
    background-color: white;
    border-bottom: 1px solid rgb(219, 223, 244);
    display: none;
  }

  .site-container {
    width: 100%;
  }

  .site-content-wrapper {
    width: 100%;
    padding: 90px 30px 0;
  }

  .github-banner {
    display: none;
  }

  .site-header.is-open .site-menu {
    display: block;
  }

  .site-header.is-open .burger-menu-lines {
    background-color: transparent;
  }

  .site-header.is-open .burger-menu-lines::before {
    transform: rotate(45deg);
    top: 0;
  }

  .site-header.is-open .burger-menu-lines::after {
    transform: rotate(-45deg);
    bottom: 0;
  }

  .site-footer {
    margin-top: 30px;
  }

  table {
    min-width: 600px;
  }

  .table-wrapper {
    overflow: auto;
    width: 100%;
  }
}

@media only screen and (max-width: 480px) {
  .demos-list li {
    width: 100%;
    margin: 0 0 20px 0;
    padding: 0 10px !important;
  }
}
