html {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  color: rgba(145, 148, 168, 1);
  font-family: Heebo, Helvetica, sans-serif;
  font-size: 15px;
  line-height: 1.8;
}

/** Console **/
.console {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 300px;
  padding: 30px;
  border: 1px solid rgb(219, 223, 244);
  background-color: #f8f8f8;
  z-index: 999;
}

.console h2 {
  font-size: 16px;
}

.console h2 + * {
  margin-top: 10px;
}

.console p {
  font-size: 13px;
}

.console span {
  display: inline-block;
  width: 35px;
}

/** Typography **/
b,
strong {
  color: #222;
}

i,
em {
  font-style: italic;
}

a {
  transition: color .3s ease-out;
  color: #ff4940;
  text-decoration: none;
}

a:hover,
a:focus {
  color: #222;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-bottom: 10px;
  color: #222;
  font-family: Gilroy, sans-serif;
  font-weight: 500;
}

h1 {
  font-family: GTSectra, serif;
  font-size: 36px;
}

h2 {
  font-size: 22px;
}

h2 a {
  color: #222;
}

h2 a:hover,
h2 a:focus {
  color: #ff4940;
}

h3,
h4,
h5,
h6 {
  color: #ff4940;
  font-size: 18px;
}

/** Structure **/
.site-container {
  display: flex;
  flex-wrap: wrap;
  width: 960px;
  margin-right: auto;
  margin-left: auto;
}

.site-header {
  width: 200px;
  min-height: 100vh;
  padding-top: 40px;
  padding-right: 40px;
  border-right: 1px solid rgb(219, 223, 244);
}

.site-content-wrapper {
  width: calc(100% - 200px);
  padding-top: 120px;
  padding-left: 80px;
  padding-bottom: 100px;
}

/** Header - Logo **/
.site-header-buttons {
  position: absolute;
  top: 47px;
  left: 280px;
}

.site-logo {
  display: block;
  width: 121px;
  height: 44px;
  margin-right: auto;
  margin-bottom: 40px;
  margin-left: auto;
}

.site-logo img {
  display: block;
  width: 100%;
}

/** Header - Menu **/
.site-menu .menu-item:last-child a {
  border-bottom: none;
}

.site-menu .menu-parent > a::after {
  content: '';
  display: inline-block;
  margin-left: 10px;
  border-top: 4px solid #222;
  border-right: 4px solid transparent;
  border-left: 4px solid transparent;
  vertical-align: middle;
}

.site-menu .menu-parent:hover .menu-child {
  display: block;
}

.site-menu .menu-child {
  display: none;
  border-bottom: 1px solid rgb(219, 223, 244);
}

.site-menu .menu-child a {
  padding-left: 20px;
}

.site-menu a {
  display: block;
  padding-top: 10px;
  padding-bottom: 10px;
  border-bottom: 1px solid rgb(219, 223, 244);
  font-weight: 700;
}

.site-menu a:hover,
.site-menu a.is-active {
  color: #222;
}

/** Footer **/
.site-footer {
  padding: 40px 0 20px;
  border-top: 1px solid rgb(219, 223, 244);
  font-size: 13px;
  text-align: center;
}

.site-footer-buttons {
  margin-bottom: 15px;
}

/** Content **/
.site-content p + * {
  margin-top: 20px;
}

.site-content p + h1,
.site-content p + h2,
.site-content p + h3,
.site-content p + h4,
.site-content p + h5,
.site-content p + h6 {
  margin-top: 40px;
}

.site-content p + ul,
.site-content p + ol,
.site-content p + pre,
.site-content p + table,
.site-content p + img,
.site-content p + form {
  margin-top: 30px;
}

.site-content ul + *,
.site-content ol + * {
  margin-top: 35px;
}

.site-content ul li,
.site-content ol li {
  position: relative;
  padding-left: 20px;
}

.site-content ul li + li,
.site-content ol li + li {
  margin-top: 0px;
}

.site-content ul li::before {
  content: '';
  position: absolute;
  top: 14px;
  left: 0;
  width: 4px;
  height: 4px;
  border-radius: 50%;
  background-color: #ff4940;
}

.site-content ol {
  counter-reset: count;
}

.site-content ol li {
  counter-increment: count;
}

.site-content ol li::before {
  content: counter(count) '.';
  position: absolute;
  top: 0;
  left: 0;
  color: #ff4940;
}

.site-content pre {
  font-size: 0;
}

.site-content pre + * {
  margin-top: 35px;
}

.site-content table {
  position: relative;
  z-index: 0;
  width: 100%;
  text-align: left;
}

.site-content .table-wrapper + * {
  margin-top: 35px;
}

.site-content table::after {
  content: '';
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 5px;
  border: 1px solid rgb(219, 223, 244);
  background-color: #f8f8f8;
}

.site-content th,
.site-content td {
  padding: 15px 20px;
}

.site-content th {
  color: #222;
}

.site-content th + th,
.site-content td + td {
  border-left: 1px solid rgb(219, 223, 244);
}

.site-content tr + tr {
  border-top: 1px solid rgb(219, 223, 244);
}

.site-content img {
  display: block;
  width: 100%;
}

.site-content img + * {
  margin-top: 35px;
}

.site-content hr {
  margin-top: 50px;
  margin-bottom: 50px;
  border: 0 none;
  height: 1px;
  background-color: rgb(219, 223, 244);
}

.site-content button,
.site-content .button {
  display: inline-block;
  min-width: 130px;
  outline: none;
  transition: color .3s ease-in-out, background .3s ease-in-out;
  border: 1px solid #ff4940;
  padding: 15px;
  background-color: #ff4940;
  color: #fff;
  font-size: 13px;
  font-weight: 700;
  text-align: center;
  line-height: 1;
  cursor: pointer;
}

.site-content button:hover,
.site-content button:focus,
.site-content .button:hover,
.site-content .button:focus {
  background-color: #fff;
  color: #ff4940;
}

.site-content form {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.site-content form > * {
  width: calc(33.333% - 15px);
}

.site-content form + * {
  margin-top: 40px;
}

.site-content input {
  display: block;
  outline: none;
  border: 1px solid rgb(219, 223, 244);
  padding: 15px;
  color: #222;
  font-size: 13px;
}

/** Demos **/
.demos-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -10px;
}

.demos-list li {
  width: 50%;
  margin: 0 0 20px;
  padding: 0 10px !important;
}

.demos-list li::before {
  content: none !important;
}

/** Utilities **/
.u-center {
  text-align: center;
}

/** Highlight **/
.hljs {
  padding: 20px;
  border-radius: 5px;
  border: 1px solid rgb(219, 223, 244);
  color: #222;
  font-family: FiraCode, sans-serif;
  font-size: 12px;
  line-height: 20px;
}

/** Responsive **/
@media only screen and (min-width: 960px) {
  .site-header-inner {
    position: fixed;
    top: 40px;
    left: 50%;
    width: 160px;
    transform: translateX(-480px);
  }

  .burger-menu {
    display: none;
  }
}

@media only screen and (max-width: 959px) {
  .site-header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 70px;
    padding-right: 0;
    padding-top: 13px;
    min-height: auto;
    background-color: white;
    border-bottom: 1px solid rgb(219, 223, 244);
    z-index: 200;
  }

  .burger-menu {
    position: absolute;
    top: 0;
    right: 0;
    height: 70px;
    width: 70px;
    padding: 0;
    outline: none;
    cursor: pointer;
    border: 0;
    background: transparent;
  }

  .burger-menu-lines {
    position: relative;
    top: -3px;
    height: 2px;
    width: 20px;
    background-color: #222;
    display: inline-block;
  }

  .burger-menu-lines::before,
  .burger-menu-lines::after {
    content: '';
    height: 2px;
    width: 20px;
    position: absolute;
    left: 0;
    background-color: #222;
  }

  .burger-menu-lines::before {
    top: -7px;
  }

  .burger-menu-lines::after {
    bottom: -7px;
  }

  .site-menu {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    padding: 20px 30px;
    background-color: white;
    border-bottom: 1px solid rgb(219, 223, 244);
    display: none;
  }

  .site-container {
    width: 100%;
  }

  .site-content-wrapper {
    width: 100%;
    padding: 90px 30px 0;
  }

  .github-banner {
    display: none;
  }

  .site-header.is-open .site-menu {
    display: block;
  }

  .site-header.is-open .burger-menu-lines {
    background-color: transparent;
  }

  .site-header.is-open .burger-menu-lines::before {
    transform: rotate(45deg);
    top: 0;
  }

  .site-header.is-open .burger-menu-lines::after {
    transform: rotate(-45deg);
    bottom: 0;
  }

  .site-footer {
    margin-top: 30px;
  }

  table {
    min-width: 600px;
  }

  .table-wrapper {
    overflow: auto;
    width: 100%;
  }
}

@media only screen and (max-width: 480px) {
  .demos-list li {
    width: 100%;
    margin: 0 0 20px 0;
    padding: 0 10px !important;
  }
}
