---
slug: installation
title: Highway - Installation
layout: default
---

<h1>Installation</h1>
<p>We can install <strong>Highway</strong> the way we want between these two methods:</p>

<h3>With YARN:</h3>
{% include _snippets/yarn.html %}

<h3>With NPM:</h3>
{% include _snippets/npm.html %}

<h2>Usage</h2>
<p>Now we have installed <strong>Highway</strong> we have to add it to our script.</p>
{% include _snippets/import.html %}

<p>Now let's keep going and see how to <a href="./get-started.html">get started</a>.</p>
